@font-face {
    src: url(fonts/behance-640c3c8ba40f1.otf);
    font-family: camille;
}

@font-face {
    src: url(fonts/signage.otf);
    font-family: sign;
}


h1 {
    text-align: center;
    font-size: 80px;
    line-height: 85px;
    font-family: camille;
    color: #D22B2B
}

img {
    line-height: 85px;
    display: block;
    margin-left: auto; 
    margin-right: auto; 
    background-size: contain;
    width: 20%;
  }

h2 {
    text-align: center;
    font-size: 45px;
    line-height: 15px;
    font-family: camille;
    color:#D22B2B
}

p {
    text-align: center;
    line-height: 5px;
    font-family: sign;
    color: #E80909;
}

a {
    font-family: sign;
    font-weight: bolder;
    color: #E80909;
}

